/Programazioa/Ev3/UD4/HiztegiaSQLiteMVCPOJO/build/
/Programazioa/Ev3/UD4/HiztegiaSQLiteMVCPOJOItzultzaile/build/
/Programazioa/Ev3/UD4/Streams/StreamekinLanean/nbproject/private/
/Programazioa/Ev3/UD4/Streams/StreamekinLanean/build/
/Programazioa/Ev3/UD4/Streams/HiztegiaTextFileMVCPOJO/nbproject/private/
/Programazioa/Ev3/UD4/Streams/HiztegiaTextFileMVCPOJO/build/
/Programazioa/Ev3/UD4/GaragePrueba/build/
/Programazioa/Ev3/UD4/HiztegiaSQLite/dist/
/Programazioa/myJava/ArcheryGame/nbproject/private/
/Programazioa/myJava/ArcheryGame/build/
/Programazioa/Ev3/UD4/AzkenHizSQLiteMVCPOJO/nbproject/private/
/Programazioa/Ev3/UD4/AzkenHiztegiaSQLiteMVCPOJO/nbproject/private/
/Programazioa/Ev3/UD4/AzkenHiztegiaSQLiteMVCPOJO/build/
